<xf:if is="$server.isInsert()">
	<xf:title>{{ phrase('sylphian_verify_add_server') }}</xf:title>
<xf:else />
	<xf:title>{{ phrase('sylphian_verify_edit_server') }} {$server.title}</xf:title>
</xf:if>

<xf:form action="{{ link('sylphian-verify-manage-servers/save', $server) }}" ajax="true" class="block">
	<div class="block-container">
		<div class="block-body">
			<xf:textboxrow name="title" value="{$server.title}"
						   label="{{ phrase('title') }}"
						   required="true" />

			<xf:selectrow name="game" value="{$server.game}"
						  label="{{ phrase('sylphian_verify_game_type') }}">
				<xf:option value="minecraft">{{ phrase('sylphian_verify_game_minecraft') }}</xf:option>
			</xf:selectrow>

			<xf:textboxrow name="host" value="{$server.host}"
						   label="{{ phrase('sylphian_verify_host') }}"
						   required="true" />

			<xf:numberboxrow name="port" value="{$server.port}"
							 label="{{ phrase('sylphian_verify_port') }}"
							 min="1" max="65535"
							 step="1"
							 required="true" />
			
			<xf:checkboxrow>
				<xf:option name="show_port" selected="{$server.show_port}"
						   label="{{ phrase('sylphian_verify_show_port') }}" />
			</xf:checkboxrow>
		</div>
		<xf:submitrow icon="save" sticky="true" />
	</div>
</xf:form>