<xf:macro name="option_form_block" arg-group="" arg-options="!" arg-containerBeforeHtml="">
	<xf:set var="$hundred" value="0" />

	<xf:if is="$options is not empty">
		<xf:form action="{{ link('options/update') }}" ajax="true" class="block">
			{{ $containerBeforeHtml|raw }}

			<div class="block">
				<div class="block-container">
					<h2 class="block-header">
						<span class="collapseTrigger collapseTrigger--block is-active" 
							  data-xf-click="toggle" 
							  data-xf-init="toggle-storage" 
							  data-storage-key="collapse_universal_options" 
							  data-target="#js-universal_options">
							{{ phrase('sylphian_verify_universal_options') }}
						</span>
					</h2>
					<div class="block-body block-body--collapsible is-active" id="js-universal_options">
						<xf:foreach loop="$options" value="$option">
							<xf:if is="$option.Relations.sylphian_verify.display_order < 2000">
								<xf:if is="$group">
									<xf:set var="$curHundred" value="{{ floor($option.Relations.{$group.group_id}.display_order / 100) }}" />
									<xf:if is="{{ $curHundred > $hundred }}">
										<xf:set var="$hundred" value="{$curHundred}" />
										<hr class="formRowSep" />
									</xf:if>
								</xf:if>

								<xf:macro template="option_macros" name="option_row" arg-group="{$group}" arg-option="{$option}" />
							</xf:if>
						</xf:foreach>
					</div>
					<xf:submitrow sticky="true" icon="save" />
				</div>
			</div>

			<div class="block">
				<div class="block-container">
					<h2 class="block-header">
						<span class="collapseTrigger collapseTrigger--block is-active" 
							  data-xf-click="toggle" 
							  data-xf-init="toggle-storage" 
							  data-storage-key="collapse_linked_account_options" 
							  data-target="#js-linked_account_options">
							{{ phrase('sylphian_verify_linked_account_options') }}
						</span>
					</h2>
					<div class="block-body block-body--collapsible is-active" id="js-linked_account_options">
						<xf:foreach loop="$options" value="$option">
							<xf:if is="$option.Relations.sylphian_verify.display_order >= 2000 && $option.Relations.sylphian_verify.display_order < 3000">
								<xf:if is="$group">
									<xf:set var="$curHundred" value="{{ floor($option.Relations.{$group.group_id}.display_order / 100) }}" />
									<xf:if is="{{ $curHundred > $hundred }}">
										<xf:set var="$hundred" value="{$curHundred}" />
										<hr class="formRowSep" />
									</xf:if>
								</xf:if>

								<xf:macro template="option_macros" name="option_row" arg-group="{$group}" arg-option="{$option}" />
							</xf:if>
						</xf:foreach>
					</div>
					<xf:submitrow sticky="true" icon="save" />
				</div>
			</div>

			<div class="block">
				<div class="block-container">
					<h2 class="block-header">
						<span class="collapseTrigger collapseTrigger--block is-active" 
							  data-xf-click="toggle" 
							  data-xf-init="toggle-storage" 
							  data-storage-key="collapse_api_options" 
							  data-target="#js-api_options">
							{{ phrase('sylphian_verify_api_options') }}
						</span>
					</h2>
					<div class="block-body block-body--collapsible is-active" id="js-api_options">
						<xf:foreach loop="$options" value="$option">
							<xf:if is="$option.Relations.sylphian_verify.display_order >= 3000 && $option.Relations.sylphian_verify.display_order < 4000">
								<xf:if is="$group">
									<xf:set var="$curHundred" value="{{ floor($option.Relations.{$group.group_id}.display_order / 100) }}" />
									<xf:if is="{{ $curHundred > $hundred }}">
										<xf:set var="$hundred" value="{$curHundred}" />
										<hr class="formRowSep" />
									</xf:if>
								</xf:if>

								<xf:macro template="option_macros" name="option_row" arg-group="{$group}" arg-option="{$option}" />
							</xf:if>
						</xf:foreach>
					</div>
					<xf:submitrow sticky="true" icon="save" />
				</div>
			</div>
		</xf:form>
	</xf:if>
</xf:macro>