<xf:macro name="status_content" arg-server="!">
    <div class="contentRow contentRow--alignMiddle">
        <div class="contentRow-figure">
            <xf:if is="$server.icon">
                <img src="{$server.icon}" style="width: 48px; height: 48px; border-radius: 4px;" alt="" />
            <xf:elseif is="$server.favicon" />
                <img src="{$server.favicon}" style="width: 48px; height: 48px; border-radius: 4px;" alt="" />
            <xf:else />
                <xf:fa icon="fa-server" style="width: 48px; height: 48px; opacity: 0.8" />
            </xf:if>
        </div>
        <div class="contentRow-main">
            <h3 class="contentRow-header">{$server.title}</h3>
            <div class="contentRow-minor">
                <ul class="listInline listInline--bullet">
                    <li>
                        <xf:if is="$server.online">
                            <span class="label label--green">{{ phrase('sylphian_verify_online') }}</span>
                        <xf:else />
                            <span class="label label--red">{{ phrase('sylphian_verify_offline') }}</span>
                        </xf:if>
                    </li>
                    <xf:if is="$server.game_label">
                        <li>{$server.game_label}</li>
                    </xf:if>
                    <li>{{ phrase('sylphian_verify_players') }}: {$server.players|default(0)} / {$server.max_players|default(0)}</li>
                    <xf:if is="$server.host">
                        <li><code class="u-muted">{$server.host}<xf:if is="$server.port">:{$server.port}</xf:if></code></li>
                    </xf:if>
                </ul>
            </div>
            <xf:if is="$server.motd">
                <div class="contentRow-snippet">{$server.motd|raw}</div>
            </xf:if>
        </div>
    </div>
</xf:macro>

<xf:macro name="status_content" arg-server="{$server}" />